$colors: (
    "primary": #0010F7,
    "primary-80": #0063F7,
    "primary-60": #55B1F3,
    "primary-40": #EBFAFA,
    "secondary": #C903FF,
    "secondary-80": #E26BF5,
    "secondary-60": #F7C2FF,
    "secondary-40": #FDEFFC,
    "black": #000,
    "light-black": #130F26,
    "dark": #111314,
    "dark-90": #2D3436,
    "dark-80":#636E72,
    "dark-60": #B2BEC3,
    "dark-40": #DFE6E9,
    "dark-20": #F0F3F5,
    "dark-10": #F7FAFC,
    "white": #FFF,
    "danger":#F02,
    "danger-80":#FF455E,
    "danger-60":#FF8B9A,
    "danger-40":#FFE7EA,
    "success":#00F7BF,
    "success-80":#98FFE0,
    "success-60":#EAFFF8,
    "warning":#FFC700,
    "warning-80":#FFD252,
    "warning-60":#FFE393,
    "warning-40":#FFF9E9,
    "info":#1BE7FF,
    "info-40":#EAFCFF,
    "info-60":#97F4FF,
    "info-80":#59EDFF,
    "blue": #0AAFFF,
    "error": #F02,
);
$fonts: (
    manrope: "Manrope",
    manrope-200: "Manrope-200",
    manrope-300: "Manrope-300",
    manrope-500: "Manrope-500",
    manrope-600: "Manrope-600",
    manrope-700: "Manrope-700",
    manrope-800: "Manrope-800",
);
$unit-size: 16;
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 454px;
